<div>
    <h2 data-translate="trafficanalyzerApp.videoDirectionRecord.home.title">Video Direction Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="video-direction-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trafficanalyzerApp.videoDirectionRecord.home.createLabel">
                        Create new Video Direction Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insertDate"><span data-translate="trafficanalyzerApp.videoDirectionRecord.insertDate">Insert Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleType"><span data-translate="trafficanalyzerApp.videoDirectionRecord.vehicleType">Vehicle Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span data-translate="trafficanalyzerApp.videoDirectionRecord.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="speed"><span data-translate="trafficanalyzerApp.videoDirectionRecord.speed">Speed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="videoDirection.id"><span data-translate="trafficanalyzerApp.videoDirectionRecord.videoDirection">Video Direction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="videoDirectionRecord in vm.videoDirectionRecords track by videoDirectionRecord.id">
                    <td><a ui-sref="video-direction-record-detail({id:videoDirectionRecord.id})">{{videoDirectionRecord.id}}</a></td>
                    <td>{{videoDirectionRecord.insertDate | date:'medium'}}</td>
                    <td>{{videoDirectionRecord.vehicleType}}</td>
                    <td>{{videoDirectionRecord.duration}}</td>
                    <td>{{videoDirectionRecord.speed}}</td>
                    <td>
                        <a ui-sref="video-direction-detail({id:videoDirectionRecord.videoDirection.id})">{{videoDirectionRecord.videoDirection.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="video-direction-record-detail({id:videoDirectionRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="video-direction-record.edit({id:videoDirectionRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="video-direction-record.delete({id:videoDirectionRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
